<div class="row">
	<form method="POST" class="form-horizontal col-md-12 col-lg-12" role="form" ng-submit="solve()">
		<div class="form-group">
			<label>Enter z:</label>
		</div>
		<div class="form-group flat-bd-bot">
		 	<div class="input-group">
        <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle choice-indicate" data-toggle="dropdown" aria-expanded="false"><span class="text">Max</span> <span class="caret"></span></button>
	        <ul class="dropdown-menu choice-list" role="menu">
						<li><a data-choice="max">Max</a></li>
						<li><a data-choice="min">Min</a></li>
	        </ul>
		    </div>
		    <input type="text" class="form-control" style="border-left: none;" ng-model="f.z">
	    </div>
		</div>
		<div class="form-group">
			<label>Subject to:</label>
		</div>
		<div class="form-group">
			<cond ng-repeat="condition in conditions" data="condition"/>
		</div>
		<div class="form-group pull-right">
			<button type="submit" class="btn btn-info" ng-click="addNewCond($event)"><i class="fui-plus-circle"></i> Add new condition</button>
		</div>

		<div class="form-group pull-left">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>

<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="panel panel-default canonical">
			<div class="panel-heading">Canonical Form</div>
			<div class="panel-body">
				<div id="canonical"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="panel panel-default result">
			<div class="panel-heading">Result:</div>
			<div class="panel-body">

			</div>
		</div>
	</div>
</div>
