<div class="row">
	<form method="POST" class="form-horizontal" role="form">
		<div class="form-group">
			<label>Enter z:</label>
		</div>
		<div class="form-group flat-bd-bot">
		 	<div class="input-group">
		        <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Max <span class="caret"></span></button>
			        <ul class="dropdown-menu" role="menu">
						<li><a href="#">Max</a></li>
						<li><a href="#">Min</a></li>
			        </ul>
			    </div>
			    <input type="text" class="form-control" style="border-left: none;" ng-model="az">
		    </div>
		</div>
		<div class="form-group">
			<label>Subject to:</label>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-sm-8 col-lg-8">
					<input type="text" class="form-control">
				</div>
				<div class="col-sm-1 col-lg-1">
					<input type="text" class="form-control">
				</div>
				<div class="col-sm-3 col-lg-3">
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-group pull-right">
			<button type="submit" class="btn btn-info"><i class="fui-plus-circle"></i> Add new condition</button>
		</div>

		<div class="form-group pull-left">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>